<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorWebStarter.styles.css" />
    <link rel="stylesheet" href="lib/bootstrap-5.3.2/css/bootstrap-5.3.2.min.css" />
    <link rel="stylesheet" href="lib/mdi-7.3.67/css/materialdesignicons.min.css" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />
    <script src="lib/bootstrap-5.3.2/js/bootstrap-5.3.2.bundle.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
